### Tuple
- 순서(0 부터 1씩 증가)를 통해 다수의 기억장소를 관리하는 컬렉션
- 생성시 관리할 값들을 모두 설정해줘야 하고 이후로는 수정이 불가능하다.

### Tuple 생성

In [1]:
# tuple 함수를 사용한 생성
# 아무런 값도 가지지 않는 튜플이 생성된다.
t1 = tuple()
print(type(t1))
print(t1)

<class 'tuple'>
()

In [2]:
# 기호를 통한 생성
t2 = ()
print(type(t2))
print(t2)

<class 'tuple'>
()

In [3]:
# 값을 지정하여 생성
t3 = (10, 20, 30, 40, 50)
print(type(t3))
print(t3)

<class 'tuple'>
(10, 20, 30, 40, 50)

In [4]:
# 괄호 없이 값들만 나열해주면 튜플로 생성한다.
t4 = 10, 20, 30, 40, 50
print(type(t4))
print(t4)

<class 'tuple'>
(10, 20, 30, 40, 50)

In [5]:
def test1(a1, a2) :
    r1 = a1 + a2
    r2 = a1 - a2
    r3 = a1 * a2
    r4 = a1 // a2
    # 변수들을 쉼표로 구분하여 나열해두었기 때문에
    # 튜플로 생성되어 튜플이 반환된다.
    return r1, r2, r3, r4

In [6]:
t5 = test1(10, 3)
print(type(t5))
print(t5)

<class 'tuple'>
(13, 7, 30, 3)

### 튜플이 관리하는 값에 접근한다(인덱싱)

In [7]:
t1 = 10, 20, 30, 40, 50
t1

(10, 20, 30, 40, 50)

In [8]:
# 0 부터 1씩 증가되는 순서 값을 통해 값을 추출할 수 있다.
# 왼쪽부터..
print(t1[0])
print(t1[1])
print(t1[2])

10
20
30

In [9]:
# - 순서값 : 뒤에서 부터...
print(t1[-1])
print(t1[-2])
print(t1[-3])

50
40
30

In [10]:
# unpack 
# 튜플이 관리하는 값의 개수 만큼 변수를 나열해 주면 1:1 대응해서
# 하나씩 담기게 된다.
a1, a2, a3, a4, a5 = t1
print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

10
20
30
40
50

In [12]:
a1, a2, a3, a4 = test1(10, 20)
print(a1)
print(a2)
print(a3)
print(a4)

30
-10
200
0

### 일부를 발췌한다(슬라이싱)
- 지정된 범위의 값들을 가진 새로운 튜플을 생성한다.

In [13]:
t1 = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
t1

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [14]:
# 순서 값 2 ~ 7 - 1 까지
t2 = t1[2:7]
t2

(30, 40, 50, 60, 70)

In [15]:
# 처음 부터 7 - 1 까지
t3 = t1[:7]
t3

(10, 20, 30, 40, 50, 60, 70)

In [16]:
# 순서값 2 부터 끝까지
t4 = t1[2:]
t4

(30, 40, 50, 60, 70, 80, 90, 100)