### List
- tuple 과 동일하고 내부의 데이터를 수정, 삭제, 추가 등이 가능한 요소
- 데이터를 가져오는 부분은 tuple과 동일하다.
- 원본을 유지하고 특정 작업이 반영된 요소를 새롭게 만드는 작업은 tuple도 제공된다.
- 원본 자체를 변경하는 작업은 list만 지원된다.

### List 생성

In [1]:
# 비어 있는 리스트를 생성
# 나중에 값을 추가할 수 있으므로 의미가 있다.
a1 = list()
print(type(a1))
print(a1)

<class 'list'>
[]

In [2]:
# 기호를 통한 생성
a2 = []
print(type(a2))
print(a2)

<class 'list'>
[]

In [3]:
# 값을 지정하여 생성
a3 = [10, 20, 30, 40, 50]
print(type(a3))
print(a3)

<class 'list'>
[10, 20, 30, 40, 50]

### 인덱싱과 슬라이싱
- tuple과 동일하다
- [시작값, 끝 값 - 1]

In [4]:
a1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
a1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [6]:
k1 = a1[0]
k2 = a1[-1]
k3 = a1[2:7]
k4 = a1[:7]
k5 = a1[2:]

print(k1)
print(k2)
print(k3)
print(k4)
print(k5)

10
100
[30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70]
[30, 40, 50, 60, 70, 80, 90, 100]

In [7]:
# unpack
a2 = [10, 20, 30, 40, 50]

k1, k2, k3, k4, k5 = a2

print(k1)
print(k2)
print(k3)
print(k4)
print(k5)

10
20
30
40
50

### 기타 기능들

In [8]:
t1 = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
a1 = [10, 20, 30, 40, 50, 60, 70, 90, 90, 100]

#### len() : 데이터 개수

In [9]:
# 관리하는 데이터의 개수를 파악한다.
k1 = len(a1)
print(k1)

k2 = len(t1)
print(k2)

10
10

#### .append() : 뒤에다 데이터 추가

In [11]:
# 값 하나를 추가한다.
print(a1)

a1.append(110)
a1.append(120)

print(a1)

[10, 20, 30, 40, 50, 60, 70, 90, 90, 100, 110, 120]
[10, 20, 30, 40, 50, 60, 70, 90, 90, 100, 110, 120, 110, 120]

In [12]:
# 더하기 연산 (원본 유지한 채로 연산 수행)
a2 = a1 + [200, 300, 400]
print(a1)
print(a2)

[10, 20, 30, 40, 50, 60, 70, 90, 90, 100, 110, 120, 110, 120]
[10, 20, 30, 40, 50, 60, 70, 90, 90, 100, 110, 120, 110, 120, 200, 300, 400]

In [14]:
# 튜플 연산도 가능함
t2 = t1 + (200, 300, 400)
print(t1)
print(t2)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400)

#### .extend([ , , ]) : 동시에 여러 값 추가

In [15]:
# 리스트에 동시에 여러개의 값을 추가한다.
print(a1)

a1.extend([130, 140, 150])

print(a1)

[10, 20, 30, 40, 50, 60, 70, 90, 90, 100, 110, 120, 110, 120]
[10, 20, 30, 40, 50, 60, 70, 90, 90, 100, 110, 120, 110, 120, 130, 140, 150]

In [16]:
# 곱하기 연산
# 곱하는 수 만큼 반복된 요소를 생성한다.
a3 = a1 * 3
print(a1)
print(a3)

[10, 20, 30, 40, 50, 60, 70, 90, 90, 100, 110, 120, 110, 120, 130, 140, 150]
[10, 20, 30, 40, 50, 60, 70, 90, 90, 100, 110, 120, 110, 120, 130, 140, 150, 10, 20, 30, 40, 50, 60, 70, 90, 90, 100, 110, 120, 110, 120, 130, 140, 150, 10, 20, 30, 40, 50, 60, 70, 90, 90, 100, 110, 120, 110, 120, 130, 140, 150]

In [18]:
# 튜플도 곱셈 연산 똑같다
t3 = t1 * 3
print(t1)
print(t3)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

#### del : 변수의 삭제

In [19]:
# 삭제 : 순서 값을 사용한다.
# 삭제하고자 하는 기억장소를 지칭하는 원리
a100 = 100
print(a100)

del a100
print(a100)

100

NameError: name 'a100' is not defined

In [21]:
print(a1)

del a1[5] # 리스트 여섯 번째 변수 삭제됨
print(a1)

print(a1[5])

[10, 20, 30, 40, 50, 70, 90, 90, 100, 110, 120, 110, 120, 130, 140, 150]
[10, 20, 30, 40, 50, 90, 90, 100, 110, 120, 110, 120, 130, 140, 150]
90

In [23]:
# 튜플 타입은 수정이 안되기 때문에 del 사용 불가
del t1[5]

TypeError: 'tuple' object doesn't support item deletion

#### .insert(위치, 값) : 값 삽입

In [24]:
# 삽입
print(a1)

# 위치, 값
a1.insert(2, 10000)

print(a1)

[10, 20, 30, 40, 50, 90, 90, 100, 110, 120, 110, 120, 130, 140, 150]
[10, 20, 10000, 30, 40, 50, 90, 90, 100, 110, 120, 110, 120, 130, 140, 150]

#### .pop() : 제일 마지막 값을 추출하고 리스트에서 삭제

In [25]:
# pop
# 제일 마지막 위치의 값을 추출하여 반환하고 리스트에서는 삭제한다.
print(a1)

k1 = a1.pop()
k2 = a1.pop()

print(k1)
print(k2)
print(a1)

[10, 20, 10000, 30, 40, 50, 90, 90, 100, 110, 120, 110, 120, 130, 140, 150]
150
140
[10, 20, 10000, 30, 40, 50, 90, 90, 100, 110, 120, 110, 120, 130]

#### .pop(위치 값) : 위치 값을 추출하고 리스트에서 삭제

In [27]:
print(a1)

k1 = a1.pop(3)
k2 = a1.pop(3)

print(k1)
print(k2)
print(a1)

[10, 20, 10000, 30, 40, 50, 90, 90, 100, 110, 120, 110, 120, 130]
30
40
[10, 20, 10000, 50, 90, 90, 100, 110, 120, 110, 120, 130]

#### .reverse() : 순서 뒤집기

In [28]:
# 순서 뒤집기
print(a1)

a1.reverse()

print(a1)

[10, 20, 10000, 50, 90, 90, 100, 110, 120, 110, 120, 130]
[130, 120, 110, 120, 110, 100, 90, 90, 50, 10000, 20, 10]

In [29]:
# 값을 지정하여 삭제한다.
# 만약 같은 값이 있으면 제일 좌측의 값을 삭제한다.
print(a1)

a1.remove(10000)

print(a1)

[130, 120, 110, 120, 110, 100, 90, 90, 50, 10000, 20, 10]
[130, 120, 110, 120, 110, 100, 90, 90, 50, 20, 10]

In [30]:
a1.remove(90)
print(a1)

[130, 120, 110, 120, 110, 100, 90, 50, 20, 10]

#### .index(값) : 위치 값 찾기

In [31]:
# 지정된 값 위치 찾기
# 없으면 오류가 발생한다.
k1 = a1.index(100)
print(k1)

5

#### .copy() : 리스트 복제

In [32]:
# 리스트를 복제해 새로운 리스트를 만든다.
a2 = a1[:]
a3 = a1.copy()

a2.append(1000)
a3.append(2000)

print(a2)
print(a3)
print(a1)

[130, 120, 110, 120, 110, 100, 90, 50, 20, 10, 1000]
[130, 120, 110, 120, 110, 100, 90, 50, 20, 10, 2000]
[130, 120, 110, 120, 110, 100, 90, 50, 20, 10]

In [33]:
# 정렬
print(a1)

a1.sort()

print(a1)

[130, 120, 110, 120, 110, 100, 90, 50, 20, 10]
[10, 20, 50, 90, 100, 110, 110, 120, 120, 130]

In [34]:
# 내림차순 정렬
a1.sort(reverse=True)
print(a1)

[130, 120, 120, 110, 110, 100, 90, 50, 20, 10]

In [35]:
# 몽땅 지우기
print(a1)

a1.clear()

print(a1)

[130, 120, 120, 110, 110, 100, 90, 50, 20, 10]
[]