### for 문
- list, tuple 등과 같이 데이터를 관리하는 요소를 통해 코드를 반복한다.
- 관리하는 데이터의 개수만큼 반복한다.

In [1]:
a1 = [10, 20, 30, 40, 50]
a1

[10, 20, 30, 40, 50]

In [2]:
for value in a1 :
    print(value)

10
20
30
40
50

### 변환함수

In [11]:
# 다른 형태의 값으로 변환하는 함수들
# 정수 : int(), 실수 : float(), 문자열 : str(), True/False : bool()

a1 = '100 '
a2 = bool(a1)

print(type(a1))
print(type(a2))

display(a1)
display(a2)

<class 'str'>
<class 'bool'>

'100 '

True

In [12]:
# list를 통한 tuple 생성
a1 = [10, 20, 30, 40, 50]
a2 = tuple(a1)

print(a2)

(10, 20, 30, 40, 50)

In [14]:
# tuple을 통한 list 생성
a3 = list(a2)
print(a3)

[10, 20, 30, 40, 50]

### range
- 지정된 범위의 값을 가지는 데이터 관리 요소

In [16]:
# 0 ~ 10 - 1 까지
r1 = range(10)
list(r1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# 3 ~ 14 - 1 까지
r2 = range(3, 14)
list(r2)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [19]:
# 3 ~ 14 - 1 까지, 2씩 증가
r3 = range(3, 14, 2)
list(r3)

[3, 5, 7, 9, 11, 13]

In [20]:
# 원하는 횟수 만큼 반복하고 싶을 때 사용하기도 한다.
for value in range(20) :
    print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

### enumerate
- list, tuple, range 등 순서를 통해 데이터를 관리하는 요소들에 사용할 수 있다.
- 결과는 (순서번호, 값) 형태의 tuple들이 들어있는 형태가 된다.
- 반복문을 수행할 때 현재가 몇 번째 반복 회차인지 파악할 때 사용한다.

In [21]:
a1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
a1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [25]:
# enumerate
e1 = enumerate(a1)
print(list(e1))

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50), (5, 60), (6, 70), (7, 80), (8, 90), (9, 100)]

In [28]:
for idx, value in enumerate(a1) :
    print(idx)
    print(value)
    print('--------------------------------')

0
10
--------------------------------
1
20
--------------------------------
2
30
--------------------------------
3
40
--------------------------------
4
50
--------------------------------
5
60
--------------------------------
6
70
--------------------------------
7
80
--------------------------------
8
90
--------------------------------
9
100
--------------------------------