### Dictionary
- 데이터를 이름으로 관리하는 개념이다.
- 순서에 대한 개념은 없다.
- 데이터의 이름은 문자열이 아니어도 된다.

### 생성

In [1]:
d1 = dict()
print(type(d1))
print(d1)

<class 'dict'>
{}

In [2]:
d2 = {}
print(type(d2))
print(d2)

<class 'dict'>
{}

In [3]:
d3 = {
    '값1' : 100,
    '값2' : 11.11,
    1000 : True,
    2000 : '안녕하세요'
}

d3

{'값1': 100, '값2': 11.11, 1000: True, 2000: '안녕하세요'}

In [4]:
# 값을 가지고 온다.
a1 = d3['값1']
a2 = d3[1000]

print(a1)
print(a2)

100
True

In [5]:
a3 = d3.get('값2')
a4 = d3.get(2000)

print(a3)
print(a4)

11.11
안녕하세요

In [6]:
# 없는 이름을 사용할 경우
a5 = d3['값100']
print(a5)

KeyError: '값100'

In [7]:
a6 = d3.get('값100')
print(a6)

None

In [8]:
# 값 변경
print(d3)

d3['값1'] = 1000

print(d3)

{'값1': 100, '값2': 11.11, 1000: True, 2000: '안녕하세요'}
{'값1': 1000, '값2': 11.11, 1000: True, 2000: '안녕하세요'}

In [9]:
# 값 추가
# 없는 이름으로 값을 넣어주면 추가된다.
print(d3)

d3['값100'] = 10000

print(d3)

{'값1': 1000, '값2': 11.11, 1000: True, 2000: '안녕하세요'}
{'값1': 1000, '값2': 11.11, 1000: True, 2000: '안녕하세요', '값100': 10000}

In [10]:
# 삭제
print(d3)

del d3['값100']

print(d3)

{'값1': 1000, '값2': 11.11, 1000: True, 2000: '안녕하세요', '값100': 10000}
{'값1': 1000, '값2': 11.11, 1000: True, 2000: '안녕하세요'}

In [15]:
# 딕셔너리의 데이터 이름들을 가져온다.
a1 = d3.keys()
a1

dict_keys(['값1', '값2', 1000, 2000])

In [16]:
# 값들만 가져온다.
a2 = d3.values()
a2

dict_values([1000, 11.11, True, '안녕하세요'])

In [17]:
# 이름과 값의 조합으로 가져온다.
a3 = d3.items()
a3

dict_items([('값1', 1000), ('값2', 11.11), (1000, True), (2000, '안녕하세요')])

In [19]:
# 딕셔너리를 for문으로 운영하면 이름이 나온다.
for a1 in d3 :
    print(d3[a1])

1000
11.11
True
안녕하세요