### 학생 5명의 데이터를 받아 출력한다.
- 학생의 데이터는 이름, 국어점수, 영어점수, 수학점수로 한다.
- 입력이 완료되면 모든 학생의 정보를 출력한다.
- 각 점수별 총점과 평균을 출력한다.

In [1]:
# 학생의 정보를 입력 받는다.

# 학생 전체의 데이터를 담을 리스트
student_list = []

# 5번 반복한다.
for _ in range(5) :
    # 이름을 입력받는다.
    name1 = input('이름 : ')
    # 국어 점수를 입력받는다.
    a1 = input('국어 : ')
    kor1 = int(a1)
    # 영어 점수를 입력받는다.
    a2 = input('영어 : ')
    eng1 = int(a2)
    # 수학 점수를 입력받는다.
    a3 = input('수학 : ')
    math1 = int(a3)
    
    # print(name1)
    # print(kor1)
    # print(eng1)
    # print(math1)
    
    # 딕셔너리에 담는다.
    d1 = {
        '이름' : name1,
        '국어점수' : kor1,
        '영어점수' : eng1,
        '수학점수' : math1
    }
    
    # 리스트에 담는다.
    student_list.append(d1)

이름 : 홍길동
국어 : 1
영어 : 2
수학 : 3
이름 : 고길동
국어 : 2
영어 : 3
수학 : 4
이름 : 최길동
국어 : 5
영어 : 6
수학 : 7
이름 : 황길동
국어 : 6
영어 : 7
수학 : 8
이름 : 김길동
국어 : 7
영어 : 6
수학 : 5

In [2]:
student_list

[{'이름': '홍길동', '국어점수': 1, '영어점수': 2, '수학점수': 3},
 {'이름': '고길동', '국어점수': 2, '영어점수': 3, '수학점수': 4},
 {'이름': '최길동', '국어점수': 5, '영어점수': 6, '수학점수': 7},
 {'이름': '황길동', '국어점수': 6, '영어점수': 7, '수학점수': 8},
 {'이름': '김길동', '국어점수': 7, '영어점수': 6, '수학점수': 5}]

In [4]:
# 모든 학생의 정보를 출력한다.
for stu in student_list :
    print(stu['이름'])
    print(stu['국어점수'])
    print(stu['영어점수'])
    print(stu['수학점수'])
    print('------------------------------')

홍길동
1
2
3
------------------------------
고길동
2
3
4
------------------------------
최길동
5
6
7
------------------------------
황길동
6
7
8
------------------------------
김길동
7
6
5
------------------------------

In [5]:
# 점수별 총점
kor_total = 0
eng_total = 0
math_total = 0
# 점수별 평균
kor_avg = 0
eng_avg = 0
math_avg = 0

# 총점을 구한다.
for stu in student_list :
    kor_total = kor_total + stu['국어점수']
    eng_total = eng_total + stu['영어점수']
    math_total = math_total + stu['수학점수']
    
# 평균을 구한다.
kor_avg = kor_total // len(student_list)
eng_avg = eng_total // len(student_list)
math_avg = math_total // len(student_list)

print(kor_total)
print(eng_total)
print(math_total)

print(kor_avg)
print(eng_avg)
print(math_avg)

21
24
27
4
4
5