### 파이썬에서의 문자열
- ''(작은 따옴표), ""(큰 따옴표)로 묶어준다.
- ''', """ 로 묶어준 문자열이 존재한다.
- 문자열 포멧팅을 지원한다.
- 문자열 관리는 튜플과 비슷하게 관리한다.

### 문자열 생성

In [2]:
str1 = '문자열1'
str2 = "문자열2"

print(type(str1))
print(type(str2))

print(str1)
print(str2)

<class 'str'>
<class 'str'>
문자열1
문자열2

In [3]:
# 문자열안에 작은 따옴표가 포함되어 있다면...
str3 = "이름은 '홍길동' 입니다"
# 문자열안에 큰 따옴표가 포함되어 있다면...
str4 = '이름은 "홍길동" 입니다'

print(str3)
print(str4)

이름은 '홍길동' 입니다
이름은 "홍길동" 입니다

### 이스케이프 문자
- 특별한 기능을 가지고 있는 문자
- \n : 아래로 내린다.
- \t : 탭 만큼 띄운다
- \a : 비프음
- \000 : 널 문자
- \\\\ : \ 글자
- \\" : 큰 따옴표
- \\' : 작은 따옴표

In [4]:
str1 = '동해물과\n백두산이'
print(str1)

동해물과
백두산이

In [5]:
str2 = '동해물과\t백두산이'
print(str2)

동해물과	백두산이

In [6]:
str3 = '동해물과\a백두산이'
print(str3)

동해물과백두산이

In [1]:
str4 = "c:\\windows\\system32\\name" # 경로는 \\ 두개 붙여서 적기 아니면 /한개만 붙이기
print(str4)

c:\windows\system32\name

In [3]:
# 이거 쓰지말라면서 왜 만들었노 따옴표 세 개 짜리 쓰기
str5 = '이름은 "홍길동"이고 나이는 \'23살\' 입니다'
str6 = "이름은 '홍길동'이고 나이는 \"23살\" 입니다"
print(str5)
print(str6)

이름은 "홍길동"이고 나이는 '23살' 입니다
이름은 '홍길동'이고 나이는 "23살" 입니다

### 따옴표 세개 짜리
- 작은 따옴표, 큰 따옴표가 포함되는 문자열
- 여러 줄 작성하는 문자열
- doc string

In [14]:
str1 = '''나이는 "30살" 이고 이름은 '홍길동' 입니다'''
print(str1)

나이는 "30살" 이고 이름은 '홍길동' 입니다

In [4]:
str2 = '''
    동해물과 백두산이
    마르고 닳도록
    하느님이 보우하사
    우리나라 만세
'''
# 들여쓰기 한 것도 문자열로 포함된다
print(str2)

    동해물과 백두산이
    마르고 닳도록
    하느님이 보우하사
    우리나라 만세

## doc string
- 코드를 문서화할 때 설명을 작성하는 문자열
- 주피터에서 shift + tab을 눌렀을 때 나오는 말풍선에 표시된다.
- 존나 신기하다

In [5]:
def test1(a1, a2) :
    '''
        doc string 테스트 입니다
        
        Args :
            a1 (정수) : 첫 번째 매개변수
            a2 (정수) : 두 번째 매개변수
            
        Return :
            두 값을 합한 결과
    '''
    r1 = a1 + a2
    return r1

In [6]:
k1 = test1(10, 20)
print(k1)

30

In [8]:
help(test1) # help()함수를 써서 doc string내용을 볼 수 있음

Help on function test1 in module __main__:

test1(a1, a2)
    doc string 테스트 입니다

    Args :
        a1 (정수) : 첫 번째 매개변수
        a2 (정수) : 두 번째 매개변수

    Return :
        두 값을 합한 결과

### 문자열 포멧팅

In [9]:
a1 = '홍길동'
a2 = 20

In [10]:
# + 연산자를 이용해 합치기
str1 = '이름은 ' + a1 + '이고 나이는 ' + str(a2) + '살 입니다'
print(str1)

이름은 홍길동이고 나이는 20살 입니다

In [11]:
# 모든 버전에서 사용 가능한 문자열 포멧팅
# %d : 정수, %f : 실수, 그 외에는 %s
str2 = '이름은 %s이고 나이는 %d살 입니다' % (a1, a2)
print(str2)

이름은 홍길동이고 나이는 20살 입니다

In [12]:
str3 = '이름은 %s이고 나이는 %d살 입니다. %s 님은 정회원 입니다' % (a1, a2, a1)
print(str3)

이름은 홍길동이고 나이는 20살 입니다. 홍길동 님은 정회원 입니다

#### 중복되는 문자 포맷팅 할 때

In [13]:
# 파이썬 2.6 부터 지원...
# fotmat 함수에 작성한 값의 순서 값을 지정한다.
str4 = '이름은 {0}이고 나이는 {1}살 입니다. {0} 님은 정회원 입니다.'.format(a1, a2)
print(str4)

이름은 홍길동이고 나이는 20살 입니다. 홍길동 님은 정회원 입니다.

In [ ]:
# 파이썬 3.1 부터...

### 문자열 앞에 f붙여주고 {} 중괄호 넣어서.. 와 ㅅㅂ 존나 좋노 이거 왜 학교에서 안알려주노 씨바거

In [15]:
str5 = f'이름은 {a1}이고 나이는 {a2}살 입니다. {a1} 님은 정회원 입니다'
print(str5)

이름은 홍길동이고 나이는 20살 입니다. 홍길동 님은 정회원 입니다

### 인덱싱과 슬라이싱
- tuple과 동일하다

In [16]:
str1 = '동해물과 백두산이'

In [17]:
# 순서값을 통한 접근(인덱싱)
print(str1[0])
print(str1[1])
print(str1[-1])
print(str1[-2])

동
해
이
산

In [18]:
# 특정 범위의 글자들을 가져온다.
# 2 ~ 7 - 1
print(str1[2:7])
# 처음 부터 7 - 1 까지
print(str1[:7])
# 2 ~ 마지막까지
print(str1[2:])

물과 백두
동해물과 백두
물과 백두산이

In [19]:
# 글자수 
print(len(str1))

9

### 문자열 함수들

In [20]:
a1 = [10, 20, 30, 40, 50]
a3 = '동해물과 백두산이'

In [21]:
# 찾기
# 30이 어디에 있는가...
r1 = a1.index(30)
# '물과'라는 글자가 어디서 시작하는가..
r2 = a3.index('물과')

print(r1)
print(r2)

2
2

In [22]:
# 없는 값
r3 = a1.index(100)
print(r3)

ValueError: 100 is not in list

In [ ]:
# 없는 글자
r4 = a3.index('서해')
print(r4)

In [23]:
str1 = '동해물과 백두산이 동해물과 지리산이 서해물과 백두산이'

In [24]:
r1 = str1.find('지리산')
print(r1)

15

In [25]:
# 없는 문자열
r2 = str1.find('한라산')
print(r2)

-1

In [26]:
# 중복된 문자열
# 제일 왼쪽에 있는 문자를 찾는다.
r3 = str1.find('동해')
print(r3)

0

In [27]:
# 우측에서 부터 찾는다.
r4 = str1.rfind('백두')
print(r4)

25

In [28]:
# 좌측에서 몇글자 때고 찾는다.
r5 = str1.find('동해', 5)
print(r5)

10

In [29]:
# 문자열 나누기
# 띄어 쓰기를 기준으로 나눈다.
str1 = '동해_물과 백두_산이'
a1 = str1.split()
print(a1)

['동해_물과', '백두_산이']

In [30]:
# 기준을 정해 나눈다.
a2 = str1.split('_')
print(a2)

['동해', '물과 백두', '산이']

In [31]:
# 좌우 공백 제거
str1 = '      동해물과       '

a1 = str1.strip()
a2 = str1.lstrip()
a3 = str1.rstrip()

print(f'[{str1}]')
print(f'[{a1}]')
print(f'[{a2}]')
print(f'[{a3}]')

[      동해물과       ]
[동해물과]
[동해물과       ]
[      동해물과]

In [32]:
# 문자열 일부분을 변경한다.
str1 = '동해물과 백두산이'
str2 = str1.replace('백두', '지리')

print(str1)
print(str2)

동해물과 백두산이
동해물과 지리산이